{% extends 'RestaurantHandyApp/base.html' %}

{% load static %}

{% block title %}アルバイト専用サイト{% endblock %}

<!--ヘッダー部分-->
{% block header %}
<h1>アルバイト専用サイト</h1>
{% endblock %}


<!--コンテンツ部分-->
{% block contents %}



<form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul>
            {% for error in form.non_field_errors %}
                <li style="color:red;">{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.employee_id.label_tag }}<br>
            {{ form.employee_id }}
        </p>
        <p>
            {{ form.shop_id.label_tag }}<br>
            {{ form.shop_id }}
        </p>
        <p>
            {{ form.password.label_tag }}<br>
            {{ form.password }}
        </p>

        <button type="submit">ログイン</button>
    </form>


{% endblock %}
