{% extends 'base.html' %}

{% load static %}

{% block title %}従業員編集{% endblock %}

<!--ヘッダー部分-->
{% block header %}
<h1>社員専用サイト</h1>
{% endblock %}


<!--コンテンツ部分-->
{% block contents %}

<h1>メニュー一覧</h1>

<p>カテゴリ</p>
<p>フード</p><p>ドリンク</p>
<img src="{% static 'assets/img/onigiri.jpg' %}" alt="おにぎり画像" width="200" height="200"><p>おにぎり</p>
<img src="{% static 'assets/img/onigiri.jpg' %}" alt="おにぎり画像" width="200" height="200"><p>おにぎり</p>
<img src="{% static 'assets/img/onigiri.jpg' %}" alt="おにぎり画像" width="200" height="200"><p>おにぎり</p>

<p>新規メニュー登録</p>








<p></p>


{% endblock %}
