<!--食べ物一覧・-->
{% extends 'RestaurantEmpApp/base.html' %}
{% block title %}食べ物一覧{% endblock %}
{% block header %}
<h1>食べ物一覧</h1>
{% endblock %}
{% block contents %}
<table>
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>価格</th>
        <th>カテゴリ</th>
        <th>画像パス</th>
    </tr>
    {% for food in foods %}
    <tr>
        <td>{{ food.product_id }}</td>
        <td><a href="{% url 'food_edit' food.pk %}"></a>{{ food.name }}</a></td>
        <td>{{ food.price }}</td>
        <td>{{ food.category }}</td>
        <td>{{ food.image_path }}</td>
        <td><a href="{% url 'food_edit' food.pk %}">編集</a></td>
    </tr>
    {% empty %}
    <tr><td colspan="5">データがありません</td></tr>
    {% endfor %}
    </table>

<p><a href="{% url 'food_add' %}">新規メニュー登録</a></p>
{% endblock %}
