{% extends 'RestaurantEmpApp/base.html' %}
{% block title %}食べ物追加{% endblock %}

{% block header %}
<h1>🍽 食べ物追加</h1>
{% endblock %}

{% block contents %}
<main>
  <div class="card">
    <h2>新しいメニューを登録</h2>

    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        <small>※店舗IDは変更できません</small><br>
        <label>店舗ID</label><br>
        {{ form.shop_id }}
      </div>

      <div class="form-group">
        <p>メニュー名</p>
        {{ form.name }}
      </div>

      <div class="form-group">
        <p>値段</p>
        {{ form.price }}
      </div>

      <div class="form-group">
        <p>カテゴリー</p>
        {{ form.category }}
      </div>

      <div class="form-group">
        <p>イメージ画像</p>
        {{ form.image_path }}
      </div>

      <div style="text-align: center; margin-top: 24px;">
        <button type="submit">＋ 追加</button>
      </div>
    </form>
  </div>
</main>
{% endblock %}
